GITHUB_CLIENT_ID=Ov23lisXoKX1DT42tMvd
GITHUB_CLIENT_SECRET=01c42c95df2aa393575f1f95cf94ff9b64326d83
GITHUB_REDIRECT_URI=http://localhost:3000/api/auth/github
SESSION_EXPIRATION_TTL_IN_SECONDS=31536000